#bodyContent {
    width: 100%;
    height: auto;
    min-height: 88%;
    background-image: url("../images/purav.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#circuralActivity {
    float: left;
    width: 39%;
    height: 100%;
    margin-left: 1%;
    text-align: left;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: medium;
    color: white;
}

#thisActivity {
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: white;
}

#subbordinateActivity {
    float: left;
    width: 39%;
    height: 100%;
    text-align: right;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: medium;
    color: white;
}

.subbordinateActivities {
    float: right;
    width: auto;
    height: 100%;
    margin-left: 3%;
}

#SearchBar {
    width: 50%;
    height: 7%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgba(29, 28, 28, 0.733);
}

#SearchBarInput {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.568);
    border-style: none;
    border-radius: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: medium;
}

.Section {
    width: 95%;
    height: 35%;
    margin-left: 5%;
    margin-top: 0%;
    margin-bottom: 2%;
}

.SectionContent {
    width: 100%;
    height: 100%;
    margin-top: 1%;
}

.SectionContentDivision {
    float: left;
    width: 30%;
    margin-left: 1%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(107, 107, 107);
    color: white;
    background-color: rgba(43, 42, 42, 0.596);
}

.MemberName {
    width: 70%;
    height: 20%;
}

.MainMemberName {
    width: 90%;
    height: 80%;
    margin-left: 5%;
    margin-top: 5%;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    font-weight: 200;
}

.MemberNumberOfDocuments {
    float: right;
    width: 60%;
    height: 20%;
    margin-top: 1%;
    margin-right: 3%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(53, 53, 53);
}

.NumberOfSubscribers {
    float: left;
    margin-left: 2%;
    width: 60%;
    height: 20%;
    margin-top: 1%;
    margin-right: 3%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(48, 47, 47);
}

.NumberOfSubscribersText {
    float: left;
    width: 70%;
    height: 40%;
    margin-top: 2%;
    margin-left: 5%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: small;
    text-align: left;
}

.MainNumberOfSubscribers {
    float: right;
    width: auto;
    height: 50%;
    margin-right: 3%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: large;
}

.SubscriptionButton {
    float: right;
    width: 40%;
    height: 13%;
    margin-top: 4%;
    margin-right: 5%;
}

.MemeberUploadDocumentText {
    float: left;
    width: 70%;
    height: 40%;
    margin-top: 2%;
    margin-left: 5%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: small;
    text-align: left;
}

.NumberOfUploadDocument {
    float: right;
    width: auto;
    height: 50%;
    margin-right: 3%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: large;
}

.MainSubscriptionButton {
    width: 95%;
    height: 85%;
    border-style: solid;
    border-width: 5px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(224, 233, 224);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: large;
    text-align: center;
}