    #bodyContent {
        background-image: url("../images/purav.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    #UserInformation {
        float: left;
        width: 30%;
        height: 90%;
        margin-top: 2%;
    }
    
    #UserDescriptionAndSecurity {
        float: left;
        width: 40%;
        height: 90%;
        margin-top: 2%;
        margin-left: 1%;
    }
    
    #UserPlan {
        float: left;
        width: 25%;
        height: 50%;
        margin-top: 2%;
    }
    
    #UserImageUpload {
        width: 100%;
        height: 30%;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: rgb(158, 156, 156);
    }
    
    #UserInformationSection {
        width: 100%;
        height: 60%;
        margin-top: 10%;
    }
    
    #UserImageUploadButton {
        float: left;
        width: 40%;
        height: 85%;
        margin-top: 2%;
        margin-left: 2%;
        border-style: dashed;
        border-width: 6px;
        border-color: rgba(70, 92, 73, 0.856);
        background-color: rgb(235, 235, 235);
        text-align: center;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: large;
    }
    
    #ImageUploadedNotification {
        width: 35%;
        height: 40%;
        border-radius: 100%;
        border-style: solid;
        border-color: green;
        border-width: 2px;
        margin-left: 32%;
        margin-top: 10%;
        display: none;
    }
    
    #UserImageUploadText {
        float: right;
        width: 50%;
        height: 50%;
        margin-top: 2%;
        margin-right: 2%;
        text-align: center;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: medium;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: rgb(158, 156, 156);
    }
    
    #UserName {
        width: 100%;
        height: 20%;
    }
    
    #UserEmailId {
        width: 100%;
        height: 20%;
        margin-top: 2%;
    }
    
    #UserContactNumber {
        width: 100%;
        height: 20%;
        margin-top: 2%;
    }
    
    #UserPassword {
        width: 100%;
        height: 20%;
        margin-top: 2%;
    }
    
    #UserNameText {
        width: 100%;
        height: 30%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: medium;
    }
    
    #UserNameInputText {
        width: 100%;
        height: 70%;
    }
    
    #UserEmailIdText {
        width: 100%;
        height: 30%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: medium;
    }
    
    #UserEmailIdInputText {
        width: 100%;
        height: 70%;
    }
    
    #UserContactNumberText {
        width: 100%;
        height: 30%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: medium;
    }
    
    #UserContactNumberInputText {
        width: 100%;
        height: 70%;
    }
    
    #UserEmailIdInputText {
        width: 100%;
        height: 70%;
    }
    
    #UserPasswordText {
        width: 100%;
        height: 30%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: medium;
    }
    
    #UserPasswordInputText {
        width: 100%;
        height: 70%;
    }
    
    #SecurityQuestions {
        width: 100%;
        height: 30%;
    }
    
    #SecurityQuestion1 {
        width: 100%;
        height: 33%;
    }
    
    #SecutityQuestion2 {
        width: 100%;
        height: 33%;
        margin-top: 2%;
    }
    
    #SecutityQuestion3 {
        width: 100%;
        height: 33%;
        margin-top: 2%;
    }
    
    #SecurityQuestion1Text {
        width: 100%;
        height: 30%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: small;
    }
    
    #SecurityQuestion1Input {
        width: 80%;
        height: 70%;
        margin-left: 10%;
    }
    
    #SecutityQuestion2Text {
        width: 100%;
        height: 30%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: small;
    }
    
    #SecutityQuestion2Input {
        width: 80%;
        height: 70%;
        margin-left: 10%;
    }
    
    #SecutityQuestion3Text {
        width: 100%;
        height: 30%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: small;
    }
    
    #SecutityQuestion3Input {
        width: 80%;
        height: 70%;
        margin-left: 10%;
    }
    
    #UserDescription {
        width: 100%;
        height: 65%;
        margin-top: 5%;
    }
    
    #UserDescriptionText {
        width: 100%;
        height: 15%;
    }
    
    #UserDescriptionInput {
        width: 100%;
        height: 80%;
        margin-top: 2%;
    }
    
    #UserDescriptionTextMain {
        width: 80%;
        height: 100%;
        margin-left: 10%;
    }
    
    #editor {
        width: 80%;
        height: 100%;
        margin-left: 10%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: medium;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: rgb(158, 156, 156);
        background-color: rgba(250, 250, 250, 0.342);
    }
    
    #PlaceholderForUserPlan {
        width: 100%;
        height: 5%;
    }
    
    #PlanInputText {
        width: 100%;
        height: 10%;
        text-align: center;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: large;
    }
    
    #Plans {
        width: 100%;
        height: auto;
        margin-top: 5%;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: rgb(158, 156, 156);
    }
    
    .Plan {
        width: 90%;
        height: 15%;
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 5%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: large;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: rgb(158, 156, 156);
    }
    
    .Plan:hover {
        width: 90%;
        height: 75%;
        margin-top: 5%;
        margin-left: 5%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: large;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: rgb(185, 184, 184);
        box-shadow: 1px 1px 2px 2px rgb(221, 221, 221);
        background-color: rgba(250, 250, 250, 0.342);
    }
    
    .Plan:hover>.PlanDescription {
        display: block;
    }
    
    .Plan:hover>.UploadAllowed {
        display: none;
    }
    
    .Plan:hover>.DownloadAllowed {
        display: none;
    }
    
    .Plan:hover>.PaidAccess {
        display: none;
    }
    
    .PlanDescription {
        display: none;
        margin-top: 5%;
        float: left;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: medium;
    }
    
    .PlanName {
        float: left;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: medium;
    }
    
    .PlanPrice {
        float: right;
        width: 17%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: large;
    }
    
    .UploadAllowed {
        float: right;
        width: 15%;
        height: 50%;
        margin-top: 6%;
        margin-right: 1%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: small;
    }
    
    .DownloadAllowed {
        float: right;
        width: 15%;
        height: 50%;
        margin-top: 6%;
        margin-right: 1%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: small;
    }
    
    .PaidAccess {
        float: right;
        width: 15%;
        height: 50%;
        margin-top: 6%;
        margin-right: 1%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: small;
    }
    
    #MainUserImageFileUploadButton {
        float: left;
        opacity: 0;
        border-style: dashed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 13%;
        height: 24%;
        margin-left: 1%;
        margin-top: 5%;
        position: absolute;
        border-width: 7px;
        border-color: rgb(7, 104, 104);
        background-color: rgb(164, 209, 194);
    }
    
    #MainUserNameInputText {
        width: 100%;
        height: 100%;
        text-align: center;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: medium;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: rgb(158, 156, 156);
    }
    
    #MainUserEmailIdInputText {
        width: 100%;
        height: 100%;
        text-align: center;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: medium;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: rgb(158, 156, 156);
    }
    
    #MainUserContactNumberInputText {
        width: 100%;
        height: 100%;
        text-align: center;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: medium;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: rgb(158, 156, 156);
    }
    
    #UserPasswordInputTextText {
        width: 100%;
        height: 100%;
        text-align: center;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: medium;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: rgb(158, 156, 156);
    }
    
    #MainSecurityQuestion1Input {
        width: 100%;
        height: 100%;
        text-align: center;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: medium;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: rgb(158, 156, 156);
    }
    
    #MainSecutityQuestion2Input {
        width: 100%;
        height: 100%;
        text-align: center;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: medium;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: rgb(158, 156, 156);
    }
    
    #MainSecutityQuestion3Input {
        width: 100%;
        height: 100%;
        text-align: center;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: medium;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: rgb(158, 156, 156);
    }
    
    #Placeholder {
        width: 100%;
        height: 1%;
    }
    
    #UserDescriptionTextMain {
        text-align: center;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: large;
        margin-top: 5%;
    }
    /* The container */
    
    .container {
        display: block;
        position: relative;
        padding-left: 20px;
        margin-bottom: 12px;
        margin-top: 5%;
        margin-left: 10%;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size: medium;
    }
    /* Hide the browser's default radio button */
    
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    /* Create a custom radio button */
    
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(158, 156, 156);
        background-color: rgb(240, 212, 208);
        border-radius: 50%;
    }
    /* On mouse-over, add a grey background color */
    
    .container:hover input~.checkmark {
        background-color: rgb(143, 192, 141);
    }
    /* When the radio button is checked, add a blue background */
    
    .container input:checked~.checkmark {
        background-color: white;
    }
    /* Create the indicator (the dot/circle - hidden when not checked) */
    
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the indicator (dot/circle) when checked */
    
    .container input:checked~.checkmark:after {
        display: block;
    }
    /* Style the indicator (dot/circle) */
    
    .container .checkmark:after {
        top: 3.5px;
        left: 3.5px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgb(3, 148, 76);
    }
    
    #SubmitButton {
        float: left;
        width: 13%;
        height: 9%;
        margin-top: 13%;
        margin-left: 5%;
        border-style: solid;
        border-width: 2px;
        border-color: grey;
        border-radius: 15px;
        background-color: rgb(47, 48, 47);
    }
    
    #MainSubmitButtonText {
        width: 100%;
        height: 100%;
        text-align: center;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: x-large;
        color: white;
        border-style: none;
        background-color: rgba(255, 255, 255, 0);
    }
    
    #PasswordContentConstraint {
        float: right;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: x-small;
    }